<!--el tittle al centro-->
<h1 style="text-align:center">{{title}}</h1>
<!--3 botones centrados en la pantalla-->
<div style="text-align:center">
  <button >EEUU</button>
  <button style="margin-left:10px">PERU</button>
  <button style="margin-left:10px">EUROPA</button>


</div>
<!--tipo de monedas en una etiqueta p debajo de cada boton-->
<div style="text-align:center">
  <h3>USD   PEN    EUR</h3>

</div>
<h1>Hola soy yo</h1>
<!--div con un formulario de cambio -->
<div style="text-align:center">
  <form>
    <label for="fname">Moneda Bs:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Cambio:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
  </form>